.sidebar-container {
    width: 100%;
    background-color: rgb(17, 16, 16);
    height: 100svh;
    display: flex;
}


.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 100%;
    background-color: black;
}

.routes-wrapper {
    width: calc(100% - 300px);
    height: 100%;
    background-color: rgb(214, 196, 196);
}


.sidebar-wrapper .seach-btn {
    width: 300px !important;
    height: 100% !important;
    padding: 0px !important;
}

.sidebar-wrapper button {
    color: white !important;
    width: 100% !important;
    font-size: 14px;
    justify-content: flex-start;
    margin-left: 5px;
}

.sidebar-wrapper h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}


.sidebar-wrapper button {
    font-family: Montserrat, ;
}